LOGGER_LEVEL=
LOGGER_FOLDER=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=

AUTH_COOKIE_SECURE=
AUTH_COOKIE_DOMAIN=

JWT_SECRET=
JWT_ACCESS_TTL=
JWT_ISSUER=

HASHER_COST=

REFRESH_TTL=

SERVER_ADDR=
SERVER_READ_TIMEOUT=
SERVER_READ_HEADER_TIMEOUT=
SERVER_WRITE_TIMEOUT=
SERVER_IDLE_TIMEOUT=
SERVER_MAX_HEADER_BYTES=
SERVER_DISABLE_GENERAL_OPTIONS_HANDLER=
SERVER_SHUTDOWN_TIMEOUT=

MIDDLEWARE_ALLOWED_ORIGINS=
