# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
/logs
/bin/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
.DS_Store?

.env

deploy/alertmanager/slack_api_url

deploy/jmx-exporter/*.jar
